<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link btn btn-primary" type="button" href="#">Головна</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-primary" type="button" href="#">Галарея</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-primary" type="button" href="#">Контакти</a>
    </li>
  </ul>
</nav>